<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Modules" type="System.Configuration.DictionarySectionHandler"/>
    <section name="WordReplacements" type="System.Configuration.DictionarySectionHandler"/>
    <section name="Methods" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="CCSDbContext" connectionString="Data Source=slickweb\sqlexpress;Initial Catalog=mmp7;User ID=sa;Password=MyCujo65;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
    <add name="defaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=slickweb\sqlexpress;Initial Catalog=mmp7;User ID=sa;Password=MyCujo65;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <Modules>
    <add key="AddressLookup" value="NOT-USED"/>
    <add key="DLReport" value="NOT-USED"/>
    <add key="GetAssistants" value="NOT-USED"/>
  </Modules>
  <WordReplacements>
    <add key="Responder" value="NOT-USED"/>
    <add key="Requester" value="NOT-USED"/>
  </WordReplacements>
  <Methods>
    <add key="SELECT" value="Select"/>
    <add key="caGET" value="Get"/>
    <add key="GET" value="Get"/>
    <add key="GetAll" value="GetAll"/>
    <add key="GetByID" value="GetById"/>
    <add key="GetActive" value="GetActive"/>
    <add key="ADD" value="Add"/>
    <add key="INSERT" value="Insert"/>
    <add key="UPDATE" value="Update"/>
    <add key="DELETE" value="Delete"/>
    <add key="SEARCH" value="Search"/>
    <add key="VALIDATE" value="Validate"/>
    <add key="LOCK" value="Lock"/>
  </Methods>
  <appSettings>
    <add key="BackEndColumns" value="CreatedBy|CreatedDateTime|ModifiedBy|ModifiedDateTime"/>
    <add key="NonSerializedColumns" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
